__pycache__/
latent_diffusion_fulldataset/*
latent_diffusion_logs_20250420_230335/*
latent_diffusion_logs_20250420_231141/*
training_logs_20250420_223927/*
vae_fulldataset/*
vae_logs_20250420_225617/*
vae_logs_20250420_230846/*
Toy_CNN/*
models/*
data/*
CNN_checkpoints/*
vae_logs_sparse/*
latent_diffusion_logs_sparse/*
CNN_sparse_checkpoints/*
latent_diffusion_logs_toy/*
sparse_model_logs/*
vae_logs_toy/*
toy_model_logs/*
