__pycache__/
analysis_results/*
latent_diffusion_fulldataset/*
latent_diffusion_logs_20250420_230335/*
latent_diffusion_logs_20250420_231141/*
training_logs_20250420_223927/*
vae_fulldataset/*
vae_logs_20250420_225617/*
vae_logs_20250420_230846/*
Toy_CNN/*
models/*
data/*
CNN_checkpoints/*
