venv/
checkpoints/
data/
__pycache__/
tiny_cnn_checkpoint/
diffusion_checkpoints/
toy_diffusion_checkpoints/
Toy_CNN_checkpoints/
Toy_CNN/
Old/checkpoint/
CNN_checkpoints/
resnet_checkpoint/
Old/*.pth
*.npz
*.pth
*.npz
*.png
*.png
